@model IEnumerable<GCCSI_CO2RE.Models.RD_FacilityStatus>

@{
    Layout = null;
}

<div style="text-align:right">
    @Html.ActionLink("Create New", "AddEditFacilityStatus", null, new { @id = "createDialog", @class = "btn btn-primary pi-draggable" })
</div>


<div class="datatable-wide" style="padding-left: 0; padding-right: 0">
    <br />
    <div style="width:100%">
        <table id="facStatus" class="table table-striped table-bordered dt-responsive wrap" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FacilityStatusName)
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FacilityStatusName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "AddEditFacilityStatus", new { id = item.FacilityStatusID }, new { @class = "editDialog" }) |
                        @Html.ActionLink("Details", "FacilityStatusDetails", new { id = item.FacilityStatusID }, new { @class = "detailsDialog" }) |
                        @Html.ActionLink("Delete", "DeleteFacilityStatus", new { id = item.FacilityStatusID }, new { @class = "confirmDialog" })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

<script>
    $('#facStatus').DataTable({
        responsive: true,
        searching: false,
        autoWidth: true
    });
</script>