@model IEnumerable<GCCSI_CO2RE.Models.RD_Country>

@{
    Layout = null;
}

<div style="text-align:right">
    @Html.ActionLink("Create New", "AddEditCountry", null, new { @id = "createDialog", @class = "btn btn-primary pi-draggable" })
</div>

<div class="datatable-wide" style="padding-left: 0; padding-right: 0">
    <br />
    <div style="width:100%">
        <table id="countryGrid" class="table table-striped table-bordered dt-responsive wrap" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Region.RegionName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CountryName)
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Region.RegionName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CountryName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "AddEditCountry", new { id = item.CountryID }, new { @class = "editDialog" }) |
                        @Html.ActionLink("Details", "CountryDetails", new { id = item.CountryID }, new { @class = "detailsDialog" }) |
                        @Html.ActionLink("Delete", "DeleteCountry", new { id = item.CountryID }, new { @class = "confirmDialog" })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

<script>
    $('#countryGrid').DataTable({
        responsive: true,
        searching: false,
        autoWidth: true
    });
</script>

  

