@model IEnumerable<GCCSI_CO2RE.Models.ConsolidatedPolicyIndex>

@{
    ViewBag.Title = "Consolidated Policy Index";
}

<div id="yearAndCreateConsolPol" style="display:flex;align-items: flex-end; flex-direction:column;">
    <div style="display:flex; flex-flow:row; align-items:center ">
        <div id="createRowDiv" class="my-2 d-flex justify-content-end" style="padding-right:10px">
            @Html.ActionLink("Create New", "AddEditConsolidatedPolicyRecord", null, new { @class = "createDialogButton btn btn-primary pi-draggable" })
        </div>
        <div>
            <div class="d-flex justify-content-end align-items-center">
                <div style="font-size:20pt;">
                    <b>
                        Year:&nbsp;
                    </b>
                </div>
                <select id="consolYearFilter" class="dropdownoption">
                    <option value="All">All</option>
                    @foreach (var year in ViewBag.PossibleYears)
                    {
                        <option value="@year.YearName">@year.YearName</option>
                    }
                </select>
            </div>
        </div>
    </div>
</div>


<div class="datatable-wide" style="padding-left: 0; padding-right: 0">
    <br />
    <div style="width:100%">

        <table id="consolDataTable" class="table table-striped table-bordered dt-responsive wrap" cellspacing="0">
            <thead style="font-size:12px; text-align:center">
                <tr>
                    <th rowspan="2">
                        Country
                    </th>
                    <th rowspan="2">
                        Region
                    </th>
                    <th colspan="3">
                        Leadership
                    </th>
                    <th colspan="6">
                        Fiscal Incentives
                    </th>
                    <th colspan="3">
                        Public Finance
                    </th>
                    <th colspan="2">
                        Market Mechanism
                    </th>
                    <th colspan="3">
                        Institutional Strenghtening
                    </th>
                    <th colspan="3">
                        Government Commitment
                    </th>
                    <th colspan="5">
                        Information
                    </th>
                    <th colspan="2">
                        International Collaboration
                    </th>
                    <th colspan="2">
                        Voluntary Approaches
                    </th>
                    <th colspan="5">
                        Regulatory/Legal
                    </th>
                    <th rowspan="2">
                        References
                    </th>
                    <th rowspan="2">
                        Summary
                    </th>
                    <th rowspan="2">
                        Notes
                    </th>
                    <th rowspan="2">
                        Actions
                    </th>
                </tr>
                <tr>
                    <th style="display:none">
                        @Html.DisplayNameFor(model => model.Year.YearName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Leader)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FastFollower)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Detached)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FiT)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InfrastructureInvestments)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TaxRelief)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Taxes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CarbonPricingArrangements)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RegulatedPricing)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GrantsSubsidies)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RD_D_Funding)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LoanGuarantees)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CapAndTrade)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Offset)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StatutoryClimateCCSBody)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LegislatedEmissionTarget)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CarbonBudgetsWithReporting)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PolicyStatementsMinor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PolicyStatementsMajor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WhitePaper)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ImplementationAdvice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.KnowledgeSharing)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InternationalStandards)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Roadmaps)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TechnologyNeedsAssessments)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InternationalFundsContributes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MOU)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PublicInitiative)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PrivateInitiative)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ObligationSchemes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmissionsPerformanceStandards)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CommercialScaleStorage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EnergyIntensityTargets)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OtherMandatoryRequirements)
                    </th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country.CountryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Region.RegionName)
                    </td>
                    <td style="display:none">
                        @Html.DisplayFor(modelItem => item.Year.YearName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Leader)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FastFollower)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Detached)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FiTStatus.PolicyStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InfrastructureInvestmentsStatus.PolicyStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaxReliefStatus.PolicyStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaxReliefStatus.PolicyStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarbonPricingArrangementsStatus.PolicyStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegulatedPricingStatus.PolicyStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GrantsSubsidiesStatus.PolicyStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RD_D_FundingStatus.PolicyStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LoanGuaranteesStatus.PolicyStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CapAndTradeStatus.PolicyStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OffsetStatus.PolicyStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatutoryClimateCCSBodyStatus.PolicyStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LegislatedEmissionTargetStatus.PolicyStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarbonBudgetsWithReportingStatus.PolicyStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PolicyStatementsMinorStatus.PolicyStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PolicyStatementsMajorStatus.PolicyStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WhitePaperStatus.PolicyStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImplementationAdviceStatus.PolicyStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KnowledgeSharingStatus.PolicyStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InternationalStandardsStatus.PolicyStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoadmapsStatus.PolicyStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TechnologyNeedsAssessmentsStatus.PolicyStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InternationalFundsContributesStatus.PolicyStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MOUStatus.PolicyStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublicInitiativeStatus.PolicyStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrivateInitiativeStatus.PolicyStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ObligationSchemesStatus.PolicyStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmissionsPerformanceStandardsStatus.PolicyStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CommercialScaleStorageStatus.PolicyStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnergyIntensityTargetsStatus.PolicyStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OtherMandatoryRequirementsStatus.PolicyStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.References)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Summary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "AddEditConsolidatedPolicyRecord", new { id = item.CPIID }, new { @class = "editDialog" }) |
                        @Html.ActionLink("Details", "ConsolidatedPolicyDetails", new { id = item.CPIID }, new { @class = "detailsDialog" }) |
                        @Html.ActionLink("Delete", "ConsolidatedPolicyDelete", new { id = item.CPIID }, new { @class = "confirmDialog" })
                    </td>
                </tr>
            }

        </table>


    </div>
</div>

<script>
    $('#consolDataTable').DataTable({
        responsive: true,
        searching: true,
        autoWidth: false
    });

    $(document).ready(function () {
        //Assurance to hide column.
        var table = $('#consolDataTable').DataTable();
        var column = table.column(36);
        column.visible(false);

        //Add on change function.
        $("#consolYearFilter").change(function () {
            //On the user change of year filter we want to update the table.
            var yearWanted = document.getElementById("consolYearFilter").value;
            var table = $('#consolDataTable').dataTable();
            if (yearWanted == "All") {
                table.fnFilter("", 36, false)
            }
            else {
                table.fnFilter(yearWanted, 36);
            }
        });

        //Once the page has loaded -- try to select current year from year selection.
        $("#consolYearFilter").val("All");

        //Add the year and create div to the right location.
        var $x = $('#consolDataTable_filter');
        $x.replaceWith($("#yearAndCreateConsolPol"));
    });
</script>




