@model GCCSI_CO2RE.Models.LegalRegulatoryData

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>LegalRegulatoryData</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Country.CountryName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Country.CountryName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LRBand.BandName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LRBand.BandName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Region.RegionName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Region.RegionName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Year.YearName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Year.YearName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ClarityAndEfficiencyOfAdministrativeProcess)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ClarityAndEfficiencyOfAdministrativeProcess)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ComprehensivenessOfFrameworks)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ComprehensivenessOfFrameworks)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SitingAndEIA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SitingAndEIA)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StakeholderPublicConsultation)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StakeholderPublicConsultation)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LiabilityAndClosure)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LiabilityAndClosure)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TotalScore)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TotalScore)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ListOfLaws)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ListOfLaws)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Attachment)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Attachment)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Summary)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Summary)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Note)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Note)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UpdateDateTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UpdateDateTime)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
