@model IEnumerable<GCCSI_CO2RE.Models.RD_InherentInterestWeight>
@{
    Layout = null;
}

<div style="text-align:right">
    @Html.ActionLink("Create New", "AddEditInherentWeight", null, new { @id = "createDialog", @class = "btn btn-primary pi-draggable" })
</div>

<div class="datatable-wide" style="padding-left: 0; padding-right: 0">
    <br />
    <div style="width:100%">
        <table id="inhIntWeightGrid" class="table table-striped table-bordered dt-responsive wrap" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.InherentInterestWeightName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductionWeightScore)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ConsumptionWeightScore)
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.InherentInterestWeightName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductionWeightScore)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ConsumptionWeightScore)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "AddEditInherentWeight", new { id = item.InherentInterestWeightID }, new { @class = "editDialog" }) |
                        @Html.ActionLink("Details", "InherentWeightDetails", new { id = item.InherentInterestWeightID }, new { @class = "detailsDialog" }) |
                        @Html.ActionLink("Delete", "DeleteInherentWeight", new { id = item.InherentInterestWeightID }, new { @class = "confirmDialog" })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

<script>
    $('#inhIntWeightGrid').DataTable({
        responsive: true,
        searching: false,
        autoWidth: true
    });
</script>