@using GCCSI_CO2RE.Models

@model GCCSI_CO2RE.Models.EmissionsData

@using (Html.BeginForm())
{ 
    <div>
        <fieldset>

            @if (ViewBag.IsUpdate == true)

            {

                @Html.HiddenFor(model => model.EmissionsDataID)

            }


            <table id="editableGrid" class="table table-striped table-bordered dt-responsive wrap" cellspacing="0" style="table-layout:fixed; font-size:12px; margin-top:1.5rem">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Region.RegionName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Country.CountryName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NonCombustion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OtherIndustrialCombustion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PowerIndustry)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Total)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Year.YearName)
                        </th>
                    </tr>
                </thead>       
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Region.RegionName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Country.CountryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.NonCombustion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.OtherIndustrialCombustion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.PowerIndustry)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Total)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Year.YearName)
                    </td>
                </tr>
            </table>
            
            <div>

                <div class="editor-label">

                    @Html.LabelFor(model => model.Summary)

                </div>

                <div class="editor-field" style="font-size:12px">

                    @Html.TextAreaFor(model => model.Summary, new { @id="summaryEntry", @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.Summary)

                </div>

                <div class="editor-label">

                    Notes

                </div>

                <div class="editor-field" style="font-size:12px">

                    @Html.TextAreaFor(model => model.Note, new { @id = "noteEntry", @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.Note)

                </div>
            </div>

            <p style="margin-top:1.5rem">

                <input type="button" value="Close" id="btncancelView" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" />

            </p>

        </fieldset>
        </div>

        <script type="text/javascript">
            $(document).ready(function () {
                $('textarea').each(function () {
                    this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;');
                    this.setAttribute('readonly', true);
                }).on('input', function () {
                    this.style.height = 'auto';
                    this.style.height = (this.scrollHeight) + 'px';
                });
            });
        </script>
}