@model GCCSI_CO2RE.Models.InherentInterestData

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>InherentInterestData</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Country.CountryName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Country.CountryName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Region.RegionName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Region.RegionName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Year.YearName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Year.YearName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OilProduction)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OilProduction)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GasProduction)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GasProduction)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CoalProduction)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CoalProduction)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OilConsumption)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OilConsumption)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GasConsumption)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GasConsumption)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CoalConsumption)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CoalConsumption)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Summary)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Summary)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Note)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Note)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UpdateDateTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UpdateDateTime)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.InherentInterestID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
