@model GCCSI_CO2RE.Models.CCSReadinessIndexData

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>CCSReadinessIndexData</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Country.CountryName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Country.CountryName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Region.RegionName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Region.RegionName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Year.YearName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Year.YearName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PolicyScore)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PolicyScore)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PolicyScore_100)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PolicyScore_100)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StorageScore)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StorageScore)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LegalRegulatoryScore)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LegalRegulatoryScore)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LegalRegulatoryScore_100)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LegalRegulatoryScore_100)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CCSReadinessIndexScore)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CCSReadinessIndexScore)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Summary)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Summary)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Note)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Note)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UpdateDateTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UpdateDateTime)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ReadinessIndexDataID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
