@using GCCSI_CO2RE.Models

@{
    ViewBag.Title = "Climate Change";
}
<div style="display:none" id="gccsiSection">@ViewBag.Title</div>

<div class="container-fluid">
    <div class="row px-3 d-flex align-items-center">
        <div class="col-md-6">
            <div class="d-flex">
                <ul class="breadcrumb my-3" style="margin-bottom:0px;margin-top:0px">
                    <li class="breadcrumb-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item active" id="indexBreadcrum">Climate Change</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 my-3">
            <ul class="nav nav-tabs" role="tablist">
                @if (Request.IsAuthenticated)
                {
                    if (User.IsInRole("Admin"))
                    {
                        @Html.Action("GetAdminTabList", "PowerBITabs")
                    }
                    else if (User.IsInRole("InternalReader"))
                    {
                        @Html.Action("GetInternalReaderTabList", "PowerBITabs")
                    }
                    else if (User.IsInRole("MemberReader"))
                    {
                        @Html.Action("GetPublicAndMemberUserTabList", "PowerBITabs")
                    }
                    else
                    {
                        @Html.Action("GetPublicAndMemberUserTabList", "PowerBITabs")
                    }
                }
                else
                {
                    @Html.Action("GetPublicAndMemberUserTabList", "PowerBITabs")
                }
            </ul>

            <div class="tab-content mt-2">
                @if (Request.IsAuthenticated)
                {
                    if (User.IsInRole("Admin"))
                    {
                        <div class="tab-pane fade" id="tabone" role="tabpanel">
                            <div id="tabs">
                                <ul class="nav nav-tabs" id="prodTabs">
                                    <li class="nav-item"><a class="nav-link" href="#tab_basic" data-toggle="tab" name="Climate Change">Climate Change</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#tab_images" data-toggle="tab" name="Emissions">Emissions</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#tab_storageest" data-toggle="tab" name="Storage Estimates">Storage Estimates</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#tab_ccsready" data-toggle="tab" name="CCS Readiness Index">CCS Readiness Index</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#tab_inherentinterest" data-toggle="tab" name="Inherent Interest">Inherent Interest</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="tab_basic" class="tab-pane" role="tabpanel">@Html.Action("ClimateChangeInitiativeIndex")</div>
                                    <div id="tab_images" class="tab-pane" role="tabpanel">@Html.Action("EmissionsIndex")</div>
                                    <div id="tab_storageest" class="tab-pane" role="tabpanel">@Html.Action("StorageEstimatesIndex")</div>
                                    <div id="tab_ccsready" class="tab-pane" role="tabpanel">@Html.Action("CCSReadinessIndex")</div>
                                    <div id="tab_inherentinterest" class="tab-pane" role="tabpanel">@Html.Action("InherentInterestIndex")</div>
                                </div>
                            </div>
                        </div>
                    }
                }
                @if (Request.IsAuthenticated)
                {
                    if (User.IsInRole("Admin"))
                    {
                        @Html.Action("GetAdminPowerBIContent", "PowerBITabs", new { id = 1 })
                    }
                    else if (User.IsInRole("InternalReader"))
                    {
                        @Html.Action("GetInternalReaderPowerBIContent", "PowerBITabs", new { id = 1 })
                    }
                    else if (User.IsInRole("MemberReader"))
                    {
                        @Html.Action("GetMemberReaderPowerBIContent", "PowerBITabs", new { id = 1 })
                    }
                    else
                    {
                        @Html.Action("GetPublicPowerBIContent", "PowerBITabs", new { id = 1 })
                    }
                }
                else //Public user.
                {
                    @Html.Action("GetPublicPowerBIContent", "PowerBITabs", new{id = 1})
                }
            </div>           
        </div>
    </div>
</div>



@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        <div id="dialog-confirm" style="display: none">
            <p>
                <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
                Are you sure to delete ?
            </p>
        </div>
        <div id="dialog-edit" style="display: none">
        </div>
        <div id="dialog-create" style="display: none">
        </div>
        <div id="dialog-view" style="display: none">
        </div>
    }
}


@Scripts.Render("~/Scripts/dataEntryShared.js")

@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        <script>
    $(document).ready(function () {

        $('#tabs').on('click', '.tablink,#prodTabs a', function (e) {
            e.preventDefault();
            var url = $(this).attr("data-url");
            var one = $(this).attr("name");
            //Show the loader
            $(".loading").show();

            if (typeof url !== "undefined") {
                var pane = $(this), href = this.hash;
                var breadCrumb = document.getElementById("indexBreadcrum");

                // ajax load from data-url
                $(href).load(url, function (result) {
                    pane.tab('show');
                    breadCrumb.innerHTML = one;
                    $(".loading").hide();
                });
            } else {
                $(this).tab('show');
                $(".loading").hide();
            }
        });
    });
        </script>
    }
}

<script>
    $(".loading").show();
    $(document).ready(function () {
        $(".loading").hide();
    });
</script>