@using GCCSI_CO2RE.Models

@model GCCSI_CO2RE.Models.FacilityData

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <fieldset>

            @if (ViewBag.IsUpdate == true)

            {

                @Html.HiddenFor(model => model.FacilityDataID)

            }


            <table class="table table-striped table-bordered dt-responsive wrap dataEntryTableHr" cellspacing="0" style="table-layout:fixed; font-size:12px; margin-top:1.5rem">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CaptureCapacity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CaptureCapacityMin)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CaptureCapacityMax)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FacilityCaptureTypeID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CurrencyDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ExcludeFromMap_HideInformation)
                        </th>
                    </tr>
                </thead>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.CaptureCapacity)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.CaptureCapacityMin)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.CaptureCapacityMax)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.FacilityCaptureType.FacilityCaptureTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.CurrencyDate)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.ExcludeFromMap_HideInformation)
                    </td>
                </tr>

            </table>

            <table class="table table-striped table-bordered dt-responsive wrap dataEntryTableHr" cellspacing="0" style="table-layout:fixed; font-size:12px; margin-top:1.5rem">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Industry_Feedstock)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CaptureLatitude)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CaptureLongitude)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OperationDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FacilityCategory.FacilityCategoryName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FacilityStatus.FacilityStatusName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Region.RegionName)
                        </th>
                    </tr>
                </thead>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Industry_Feedstock)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.CaptureLatitude)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.CaptureLongitude)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.OperationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.FacilityCategory.FacilityCategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.FacilityStatus.FacilityStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Region.RegionName)
                    </td>
                </tr>
            </table>

            <table class="table table-striped table-bordered dt-responsive wrap dataEntryTableHr" cellspacing="0" style="table-layout:fixed; font-size:12px; margin-top:1.5rem">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Country.CountryName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Location)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StorageLatitude)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StorageLongitude)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TransportationType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TransportationDistance)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FacilityIndustry.FacilityIndustryName)
                        </th>
                    </tr>
                </thead>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Country.CountryName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.StorageLatitude)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.StorageLongitude)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.TransportationType)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.TransportationDistance)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.FacilityIndustry.FacilityIndustryName)
                    </td>
                </tr>
            </table>

            <table class="table table-striped table-bordered dt-responsive wrap dataEntryTableHr" cellspacing="0" style="table-layout:fixed; font-size:12px; margin-top:1.5rem">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FacilityStorageCode.FacilityStorageCodeName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FacilityTransportCode.FacilityTransportCodeName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NewBuildOrRetrofit)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StorageFormationAndDepth)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UtilisationType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ReferenceLink)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Year.YearName)
                        </th>
                    </tr>
                </thead>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.FacilityStorageCode.FacilityStorageCodeName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.FacilityTransportCode.FacilityTransportCodeName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.NewBuildOrRetrofit)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.StorageFormationAndDepth)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.UtilisationType)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.ReferenceLink)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Year.YearName)
                    </td>
                </tr>
            </table>


            <div>
                <div class="editor-label">

                    @Html.LabelFor(model => model.Proponents)

                </div>

                <div class="editor-field" style="font-size:12px">

                    @Html.TextAreaFor(model => model.Proponents, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.Proponents)

                </div>

                <div class="editor-label">

                    @Html.LabelFor(model => model.CaptureSource)

                </div>

                <div class="editor-field" style="font-size:12px">

                    @Html.TextAreaFor(model => model.CaptureSource, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.CaptureSource)

                </div>

                <div class="editor-label">

                    @Html.LabelFor(model => model.CaptureMethod)

                </div>

                <div class="editor-field" style="font-size:12px">

                    @Html.TextAreaFor(model => model.CaptureMethod, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.CaptureMethod)

                </div>


                <div class="editor-label">

                    @Html.LabelFor(model => model.ShortDescription)

                </div>

                <div class="editor-field" style="font-size:12px">

                    @Html.TextAreaFor(model => model.ShortDescription, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.ShortDescription)

                </div>

                <div class="editor-label">

                    @Html.LabelFor(model => model.StorageType)

                </div>

                <div class="editor-field" style="font-size:12px">

                    @Html.TextAreaFor(model => model.StorageType, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.StorageType)

                </div>

                <div class="editor-label">

                    @Html.LabelFor(model => model.FacilityDescription)

                </div>

                <div class="editor-field" style="font-size:12px">

                    @Html.TextAreaFor(model => model.FacilityDescription, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.FacilityDescription)

                </div>

                <div class="editor-label">

                    @Html.LabelFor(model => model.KeyMilestone)

                </div>

                <div class="editor-field" style="font-size:12px">

                    @Html.TextAreaFor(model => model.KeyMilestone, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.KeyMilestone)

                </div>

                <div class="editor-label">

                    @Html.LabelFor(model => model.Summary)

                </div>

                <div class="editor-field" style="font-size:12px">

                    @Html.TextAreaFor(model => model.Summary, new { @id = "summaryEntry", @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.Summary)

                </div>


                <div class="editor-label">

                    @Html.LabelFor(model => model.Note)

                </div>

                <div class="editor-field" style="font-size:12px">

                    @Html.TextAreaFor(model => model.Note, new { @id = "noteEntry", @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.Note)

                </div>
            </div>


            <p style="margin-top:1.5rem">

                <input type="button" value="Close" id="btncancelView" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" />

            </p>



        </fieldset>
    </div>

    <script type="text/javascript">
            $(document).ready(function () {
                $('textarea').each(function () {
                    this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;');
                    this.setAttribute('readonly', true);
                });
            });
    </script>


}
