@model IEnumerable<GCCSI_CO2RE.Models.RD_InherentInterestOilProduction>
@{
    Layout = null;
}

<div style="text-align:right">
    @Html.ActionLink("Create New", "AddEditInherentOilProduction", null, new { @id = "createDialog", @class = "btn btn-primary pi-draggable" })
</div>

<div class="datatable-wide" style="padding-left: 0; padding-right: 0">
    <br />
    <div style="width:100%">
        <table id="oilProdGrid" class="table table-striped table-bordered dt-responsive wrap" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.OilProductionPercentageShare)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OilProductionScore)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OilProductionBand)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OilProductionTier)
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OilProductionPercentageShare)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OilProductionScore)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OilProductionBand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OilProductionTier)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "AddEditInherentOilProduction", new { id = item.InherentInterestOilProductionID }, new { @class = "editDialog" }) |
                        @Html.ActionLink("Details", "InherentOilProductionDetails", new { id = item.InherentInterestOilProductionID }, new { @class = "detailsDialog" }) |
                        @Html.ActionLink("Delete", "DeleteInherentOilProduction", new { id = item.InherentInterestOilProductionID }, new { @class = "confirmDialog" })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

<script>
    $('#oilProdGrid').DataTable({
        responsive: true,
        searching: false,
        autoWidth: true
    });
</script>