@model IEnumerable<GCCSI_CO2RE.Models.RD_InherentInterestCoalConsumption>
@{
    Layout = null;
}

<div style="text-align:right">
    @Html.ActionLink("Create New", "AddEditInherentCoalConsumption", null, new { @id = "createDialog", @class = "btn btn-primary pi-draggable" })
</div>

<div class="datatable-wide" style="padding-left: 0; padding-right: 0">
    <br />
    <div style="width:100%">
        <table id="coalConsGrid" class="table table-striped table-bordered dt-responsive wrap" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CoalConsumptionPercentageShare)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CoalConsumptionScore)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CoalConsumptionBand)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CoalConsumptionTier)
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CoalConsumptionPercentageShare)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CoalConsumptionScore)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CoalConsumptionBand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CoalConsumptionTier)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "AddEditInherentCoalConsumption", new { id = item.InherentInterestCoalConsumptionID }, new { @class = "editDialog" }) |
                        @Html.ActionLink("Details", "InherentCoalConsumptionDetails", new { id = item.InherentInterestCoalConsumptionID }, new { @class = "detailsDialog" }) |
                        @Html.ActionLink("Delete", "DeleteInherentCoalConsumption", new { id = item.InherentInterestCoalConsumptionID }, new { @class = "confirmDialog" })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

<script>
    $('#coalConsGrid').DataTable({
        responsive: true,
        searching: false,
        autoWidth: true
    });
</script>