@using GCCSI_CO2RE.Models
@model GCCSI_CO2RE.Models.RD_Year

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <fieldset>
            @if (ViewBag.IsUpdate == true)

            {

                @Html.HiddenFor(model => model.YearID)

            }

            <table id="editableGrid" class="table table-striped table-bordered dt-responsive wrap" cellspacing="0" style="table-layout:fixed; font-size:12px; margin-top:1.5rem">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.YearName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.YearStartDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.YearEndDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.YearHasData)
                        </th>
                    </tr>
                </thead>
                <tr>
                    <td>
                        @Html.EditorFor(model => model.YearName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.YearName, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.YearStartDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.YearStartDate, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.YearEndDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.YearEndDate, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.YearHasData, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.YearHasData, "", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>


            <p style="margin-top:1.5rem">

                @if (ViewBag.IsUpdate == true)

                {

                    <input type="submit" value="Update" id="btnUpdate" name="cmd" class="btn btn-secondary pi-draggable" />
                    <input type="button" value="Cancel" id="btncancelEdit" class="btn btn-danger pi-draggable" />
                }

                else

                {

                    <input type="submit" value="Save" id="btnSave" name="cmd" class="btn btn-secondary pi-draggable" />
                    <input type="button" value="Cancel" id="btncancelCreate" class="btn btn-danger pi-draggable" />
                }

            </p>

        </fieldset>
    </div>
    
}