<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    <script src="https://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/ui/1.9.1/jquery-ui.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/js/iziModal.min.js" type="text/javascript"></script>
    <link href="https://code.jquery.com/ui/1.9.1/themes/smoothness/jquery-ui.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/css/iziModal.min.css" rel="stylesheet" />

    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    @Styles.Render("~/customStyles/dataTables.bootstrap4.min.css")
    <script src="//netdna.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/customStyles/gccsiTheme.css">

    <title>@ViewBag.Title - Global CCS Institute</title>
</head>


<body>

    <nav class="navbar navbar-expand-md navbar-light bg-info h-50" style="background:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url('../../../../customStyles/Images/backgroundCropped.jpg');
        background-repeat:no-repeat;background-position-x:center; background-position-y:bottom; background-size:cover; flex-flow:row wrap">
        <div class="container-fluid" style="align-self:baseline; padding-top:2%">
            <div class="col-sm-3">
                <div class="navbar-brand">
                    <a href="https://www.globalccsinstitute.com/" target="_blank">
                        <img src="~/customStyles/logo_overlay.png" class="d-inline-block align-top" alt="" style="height: auto; min-height: 20%; max-width: 40%;">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 homePageTableDiv" style="flex-direction:column">
                <img class="img-fluid-homepageIcons" src="~/customStyles/Images/CCS CO2RE Logo RGB Transport.png" style="align-self:center;" />
            </div>
            <div class="col-sm-3 homePageTableDiv" style="justify-content:flex-end; white-space:nowrap; text-align:center">
                <div class="row">
                    <div class="col flex-column align-items-end">
                        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border-color:rgb(0, 188, 223)">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse col" id="navbar2SupportedContent">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a class="headerBlue" href="http://www.globalccsinstitute.com/institute" target="_blank">About Us</a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a class="headerBlue" href="http://www.globalccsinstitute.com/institute/contact" target="_blank">Contact Us</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12" style="padding-top:5px;">
                                        @Html.Partial("_LoginPartial")
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="align-self:flex-end; text-align:center">
            <p class="homePageBlurb">
                Powerful and succinct explanation of what the
                Carbon Capture Institute does and why it is
                important. And what CO<sub>2</sub>RE is in regards to CCS.
            </p>
        </div>
    </nav>
    @RenderBody()

    <div class="loading" style="display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -96px;
    margin-left: -96px;
    background-color: #ccc;
    opacity: .85;
    border-radius: 25px;
    width: 100px;
    height: 100px;
    z-index: 99999;
    text-align:center;">
        <img style="width:100px" src="~/customStyles/Images/loadingSpinner.gif" />
    </div>

    <footer>
        <div class="py-5 bg-footerBlue text-white">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-9">
                        <p class="lead d-flex">© Copyright 2018 Global CCS Institute - All rights reserved.</p>
                        <p class="text-left" style="font-size:90%;">
                            The
                            <a class="homeFooterHyperlink" href="https://www.globalccsinstitute.com/" target="_blank">Global CCS Institute</a> has tried to make information on this website as accurate as possible. However, it does not guarentee that the information is totally accurate or complete.
                            <br> Therefore, the information on this website should not be relied upon solely when making commercial descisions. For more information, visit the
                            <a class="homeFooterHyperlink" href="" target="_blank">terms of use</a> or
                            <a class="homeFooterHyperlink" href="https://www.globalccsinstitute.com/institute/contact" target="_blank">contact us</a>.
                        </p>
                    </div>
                    <div class="col" style="display:flex; flex-direction:row; align-items:center">
                        <div class="col" style="display:flex; flex-flow:column; align-items:flex-end">
                            <div>
                                <a href="https://www.linkedin.com/company/global-ccs-institute/" target="_blank"><i class="fa fa-fw text-white fa-4x fa-linkedin-square"></i></a>
                                <a href="https://twitter.com/GlobalCCS" target="_blank"><i class="fa fa-fw fa-4x text-white fa-twitter-square"></i></a>
                                <a href="https://www.facebook.com/GlobalCCSInstitute/" target="_blank"><i class="fa fa-fw fa-4x text-white fa-facebook-square"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
